@tailwind base;
@tailwind components;
@tailwind utilities;

html,

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}





#__next {
  background-color: #e6ecff;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', sans-serif;
  min-height: 100vh;
  /* min-height: 100vh; */
}

#__next .click-card {
  cursor: pointer;
  transition: box-shadow 0.5s;
  background: rgb(255, 255, 255, 1);
} 
.click-card:hover {
  box-shadow: 0px 0px 20px rgb(0 0 0 / 25%);
  transition: box-shadow 0.2s;
}


#calendar .color-calendar {
  display: flex;
  align-items: center;
}
#calendar .color-calendar .calendar__arrow-inner {
  background: #ff98d3;
}

.article .chakra-text {
  font-size: 16px;
  margin: 28px 0;
}
@media (min-width: 768px) {
  .article .chakra-text {
    font-size: 18px;
    margin: 32px 0;
  }
}
@media (min-width: 992px) {
  .article .chakra-text {
    font-size: 20px;
    margin: 36px 0;
  }
}


.modal--overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(38, 40, 40, .4);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow-y: auto;
}

.rounded-primary {
  border-radius: var(--rounded-btn, 0.5rem);
}

.dmc-form-select-child > div:first-of-type {
  border-radius: var(--rounded-btn, 0.5rem);
  box-shadow: 0 0 0 0px  !important;
  @apply  bg-base-100   
}

.dmc-form-select-child-focus > div:first-of-type {
  border-radius: var(--rounded-btn, 0.5rem);
  box-shadow: 0 0 0 0px  !important;
  @apply  bg-base-100   border-primary
}
  

@layer components {
  .dmc-form-checkbox {
    @apply checkbox  checkbox-primary h-[1rem] w-[1rem] rounded p-0  border-gray-300   focus:border-indigo-300  focus:outline-none focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-20 
  }
  .dmc-form-input {
    @apply input w-full  h-[38px] px-[10px] border border-gray-300  leading-tight  
    focus:outline-none focus:border-primary focus:border-2 focus:ring-primary disabled:bg-gray-200
  }
  .dmc-form-textarea {
    @apply textarea    w-full  h-[38px] px-[10px] border border-gray-300  leading-tight  
    focus:outline-none focus:border-primary focus:border-2 focus:ring-primary disabled:bg-gray-200
  }

  .dmc-form-select {
    @apply  rounded-t-box rounded-b-box text-sm disabled:bg-gray-200  focus:border-primary focus:border-2  focus:outline-none
  }

  .dmc-react-select {
    @apply text-sm  dmc-form-select-child 
  }

  .dmc-label {
    @apply label text-xs font-bold uppercase p-0
  }

  .required {
    @apply  after:content-['*'] after:text-red-600 after:ml-1 after:font-normal
  }

  .spinner {
    @apply  absolute  h-12 w-12 animate-spin rounded-full border-8 border-dashed border-primary border-t-transparent 
  }
  
  .abs-center {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
  }

  .flex-center {
    @apply flex items-center justify-center
  }
}
