@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.modal--overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(38, 40, 40, .4);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow-y: auto;
}
  

@layer components {
  .dmc-form-checkbox {
    @apply rounded border-gray-300 text-primary shadow-sm  focus:border-indigo-300  focus:outline-none focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-20 disabled:bg-gray-100
  }
  .dmc-form-input {
    @apply w-full appearance-none rounded  border border-gray-300 h-[38px] px-[10px] leading-tight text-gray-700 
    focus:outline-none focus:border-primary focus:border-2 focus:ring-primary disabled:bg-gray-200
  }

  .dmc-form-select {
    @apply  rounded bg-white  border-gray-300 disabled:bg-gray-200  focus:border-primary focus:border-2 text-gray-700  focus:outline-none
  }
  
  .spinner {
    @apply absolute  h-12 w-12 animate-spin rounded-full border-8 border-dashed border-primary border-t-transparent 
  }
  
  .abs-center {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
  }

  .flex-center {
    @apply flex items-center justify-center
  }
}
